@page "/"

<PageTitle>Index</PageTitle>

<h1>Testing Blazor / WPA - offline app</h1>
This is an application that is built for testing the Blazor Web Assembly / Progressive Web App capabilities.


<SurveyPrompt Title="How is Blazor for you?" />
